<html>
 <head>

  <script type="text/javascript" src="js/Scriptgrafos.js">
   window.onload = function() {

    var g = new Graph();

                g.addEdge("cherry", "apple");
                g.addEdge("strawberry", "cherry");
                g.addEdge("strawberry", "apple");
                g.addEdge("strawberry", "tomato");
                g.addEdge("tomato", "apple");
                g.addEdge("cherry", "kiwi");
                g.addEdge("tomato", "kiwi");

                /* layout the graph using the Spring layout implementation */
                var layouter = new Graph.Layout.Spring(g);
                layouter.layout();
    
                var renderer = new Graph.Renderer.Raphael('canvas', g, 600, 400);
                renderer.draw();
    
                redraw = function() {
                    layouter.layout();
                    renderer.draw();
                };
   };
  </script>
 </head>
 <body>
  <div id="canvas"></div>
   <div>
            <button id="redraw" onclick="redraw();">redraw</button>
        </div>
 </body>
</html>